*{
	margin: 0;
	padding: 0;
}
body{
	background-color: #2e2e2e;
	font-size: 16px;
	color: #fff;
}
#container{
	width: 100%;
}
	#header{
		width: 600px;
		margin: 0 auto;
		margin-top: 10px;
		box-shadow: 0 0 5px #700;
	}
		#logo{
			float: left;
		}
			.logo{
				width: 70px;
				height: 70px;
				border-radius: 10px;
				box-shadow: 0 0 3px #fff;
			}
		#logo_text{
			float: left;
			font-size: 28px;
			text-transform: uppercase;
			font-weight: bold;
			margin: 20px 0 0 10px;
			text-shadow: 0 0 5px #700, 2px 2px 0 #700;
		}
	#social_media{
		width: 100%;
		margin: 10px 0;
		background-color: #1e1e1e;
		box-shadow: 0 0 5px #500;
		height: 70px;
	}
	#content{
		width: 590px;
		box-shadow: 0 0 5px #700;
		margin: 5px auto;
		padding: 0 5px;
	}
		#nav{
			float: left;
			margin: 5px;
			width: 185px;
		}
			.nav_button{
				margin: 10px 0;
				padding: 15px 0;
				box-shadow: 0 0 5px #500;
				border-radius: 3px;
				text-align: center;
				font-size: 18px;
				text-transform: uppercase;
			}
		#section{
			float: left;
			margin: 5px;
			width: 385px;
		}
			.article{
				padding: 10px;
				margin: 10px 0;
				box-shadow: 0 0 5px #700;
				border-radius: 5px;
				text-align: justify;
			}
				.__button__more__info{
					margin: 10px 0 0 0;
					margin-left: 275px;
					padding: 5px 20px;
					background-color: #2e2e2e;
					border-radius: 5px;
					box-shadow: 0 0 3px #700;
					color: #fff;
				}
	#footer{
		width: 100%;
		margin: 10px auto;
		text-align: center;
		height: 50px;
		background-color: #1e1e1e;
		box-shadow: 0 0 5px #500;
	}