*{
	margin: 0;
	padding: 0;
}
body{
	background-color: #3e3e3e;
	font-size: 16px;
	color: #fff;
}
#container{
	width: 100%;
}
	#header{
		max-width: 1000px;
		margin: 0 auto;
		margin-top: 10px;
	}
		#logo{
			float: left;
			height: 100px;
			margin-left: 10px;
		}
			.logo{
				width: 200px;
				height: 100px;
				border-radius: 5px;
				box-shadow: 0 0 3px #fff;
			}
		#logo_text{
			float: left;
			font-size: 48px;
			text-transform: uppercase;
			font-weight: bold;
			margin: 20px 0 0 20px;
			text-shadow: 0 0 5px #700, 3px 3px 0 #700;
		}
			#__span_logo_text{
				color: #000123;
				text-shadow: 2px 2px 2px#fff;
			}
	#nav_top{
		width: 100%;
		margin-top: 15px;
		margin-bottom: 5px;
		background-color: #1e1e1e;
		box-shadow: 0 0 5px #500;
		padding: 20px 0;
		position: sticky;
		top: 0;
	}
		ol{
			text-align: center;
		}
			ol li{
				display: inline-block;
				margin-left: 40px;
				font-size: 20px;
			}
				li:first-child{
					margin-left: 0;
				}
				ol li a{
					text-decoration: none;
					text-transform: uppercase;
					text-shadow: 2px 2px 3px #500;
				}
	#content{
		max-width: 990px;
		/*box-shadow: 0 0 5px #700;*/
		margin: 0 auto;
		padding: 0 5px;
	}
		#nav{
			float: left;
			margin: 0 5px;
			width: 235px;
		}
			ul{
				list-style-type: none;
				margin: 0;
				padding: 0;
			}
				ul li{
					box-shadow: 0 0 5px #700;
					text-transform: uppercase;
					text-align: center;
					margin-top: 10px;
					font-size: 20px;
					border-left: 7px solid #700;
					border-right: 7px solid #700;
					border-radius: 5px;
				}
					ul li a{
						text-decoration: none;
						text-shadow: 2px 2px 3px #500;
					}
						a:link, a:visited{
							color: #fff;
						}
						a:hover, a:active{
							color: #500;
						}
						.__nav_square{
							padding: 15px 0;
						}
		#section{
			float: left;
			margin: 0 5px;
			width: 735px;
		}
			.article{
				padding: 10px;
				margin: 10px 0;
				box-shadow: 0 0 5px #700;
				text-align: justify;
				border-left: 10px solid #700;
				border-right: 10px solid #700;
				border-radius: 5px;
			}
				.small_image{
					float: left;
					width: 150px;
					height: 105px;
				}
				.text{
					float: left;
					margin-left: 10px;
					width: 535px;
				}
	#footer{
		width: 100%;
		margin: 10px auto;
		text-align: center;
		background-color: #1e1e1e;
		box-shadow: 0 0 5px #500;
		padding: 20px 0;
	}